
<body>
    <form action="" class="loginbox" [formGroup]="login" (submit)="applylogin()">
        <h1>Login</h1>
        <div class="inputbox">
        <input type="text" class="inputbox" placeholder="Username" formControlName="Username"></div>
        <div class="inputbox"><input type="password" class="inputbox" placeholder="Password" formControlName="Password"></div>
        <p class="Sign-in">Sign-in using Bitsathy Credentials</p>
        <button type="submit" id="submit" >Login</button>
        <a id="Register" href="#">Click here to Register</a>
    </form>
</body>